<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}
</head>
<body class="min-h-screen bg-page font-sans text-gray-900">
  {{ partial "header.html" . }}
  <main class="pt-16">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "glightbox.html" . }}
  {{ partial "analytics.html" . }}
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
</body>
</html>
