.hamburger {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-size: 0;
  height: 4rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
  right: 0;
  text-indent: -9999px;
  width: 4.2rem;
  z-index: 40;
}

.hamburger:focus {
  outline: 0;
}

.hamburger::after,
.hamburger::before {
  @apply .bg-gray-500;
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: 1rem;
  transition: transform 0.1s ease-in-out, margin-top 0.1s ease-in-out 0.1s;
  width: 2.2rem;
}

.hamburger::before {
  margin-top: -0.6rem;
}

.hamburger::after {
  margin-top: 0.3rem;
}

.open-nav .hamburger::after,
.open-nav .hamburger::before {
  transition: transform 0.1s ease-in-out 0.1s, margin-top 0.1s ease-in-out;
}

.open-nav .hamburger::before {
  margin-top: 0;
  transform: rotate(45deg);
}

.open-nav .hamburger::after {
  margin-top: 0;
  transform: rotate(-45deg);
}
