/* https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
  height: 0;
  margin: 4rem 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
